In [1]:
import pandas as pd
import numpy as np
import os

Read Dataset

In [70]:
df = pd.read_excel('./dataset/dataset/wonotirto.xlsx')
df.head(10)

c:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,location,Wonotirto,Wonotirto.1,Wonotirto.2,Wonotirto.3,Wonotirto.4,Wonotirto.5,Wonotirto.6,Wonotirto.7,Wonotirto.8,Wonotirto.9,Wonotirto.10,Wonotirto.11
0,lat,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8
1,lon,112.25,112.25,112.25,112.25,112.25,112.25,112.25,112.25,112.25,112.25,112.25,112.25
2,asl,396.42184,396.42184,396.42184,396.42184,396.42184,396.42184,396.42184,396.42184,396.42184,396.42184,396.42184,396.42184
3,variable,Temperature,Temperature,Temperature,Precipitation Total,Relative Humidity,Relative Humidity,Relative Humidity,Sunshine Duration,Evapotranspiration,Soil Moisture,Soil Moisture,Soil Moisture
4,unit,°C,°C,°C,mm,%,%,%,min,mm,m³/m³,m³/m³,m³/m³
5,level,2 m elevation corrected,2 m elevation corrected,2 m elevation corrected,sfc,2 m,2 m,2 m,sfc,sfc,7-28 cm down,7-28 cm down,7-28 cm down
6,resolution,daily,daily,daily,daily,daily,daily,daily,daily,daily,daily,daily,daily
7,aggregation,Maximum,Minimum,Mean,Summation,Maximum,Minimum,Mean,Summation,Summation,Maximum,Minimum,Mean
8,timestamp,Wonotirto Temperature [2 m elevation corrected],Wonotirto Temperature [2 m elevation corrected],Wonotirto Temperature [2 m elevation corrected],Wonotirto Precipitation Total,Wonotirto Relative Humidity [2 m],Wonotirto Relative Humidity [2 m],Wonotirto Relative Humidity [2 m],Wonotirto Sunshine Duration,Wonotirto Evapotranspiration,Wonotirto Soil Moisture [7-28 cm down],Wonotirto Soil Moisture [7-28 cm down],Wonotirto Soil Moisture [7-28 cm down]
9,2023-01-01 00:00:00,29.21124,22.05124,24.642494,3.9,94.91282,66.770935,85.1555,270.29965,3.492001,0.306,0.296,0.299875

In [71]:
df = pd.read_excel('./dataset/dataset/wonotirto.xlsx', header = 9)
df.head()

c:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,timestamp,Wonotirto Temperature [2 m elevation corrected],Wonotirto Temperature [2 m elevation corrected].1,Wonotirto Temperature [2 m elevation corrected].2,Wonotirto Precipitation Total,Wonotirto Relative Humidity [2 m],Wonotirto Relative Humidity [2 m].1,Wonotirto Relative Humidity [2 m].2,Wonotirto Sunshine Duration,Wonotirto Evapotranspiration,Wonotirto Soil Moisture [7-28 cm down],Wonotirto Soil Moisture [7-28 cm down].1,Wonotirto Soil Moisture [7-28 cm down].2
0,2023-01-01,29.211240,22.051240,24.642494,3.900000,94.91282,66.770935,85.15550,270.29965,3.492001,0.306,0.296,0.299875
1,2023-01-02,28.251242,21.701240,24.244990,21.800003,95.31577,71.636536,86.83172,364.49142,3.232800,0.350,0.298,0.324708
2,2023-01-03,29.251242,22.081242,24.992075,2.900000,90.51155,66.172400,81.60519,495.79090,4.989600,0.330,0.311,0.317917
3,2023-01-04,29.371240,21.991241,24.973742,2.800000,94.34193,68.940475,83.90246,476.32050,4.451040,0.310,0.297,0.302167
4,2023-01-05,28.441240,22.171242,24.643326,8.299999,91.76277,74.567010,84.68249,351.70572,4.253759,0.306,0.295,0.300125

In [72]:
df.columns

Index(['timestamp', 'Wonotirto Temperature [2 m elevation corrected]',
       'Wonotirto Temperature [2 m elevation corrected].1',
       'Wonotirto Temperature [2 m elevation corrected].2',
       'Wonotirto Precipitation Total', 'Wonotirto Relative Humidity [2 m]',
       'Wonotirto Relative Humidity [2 m].1',
       'Wonotirto Relative Humidity [2 m].2', 'Wonotirto Sunshine Duration',
       'Wonotirto Evapotranspiration',
       'Wonotirto Soil Moisture [7-28 cm down]',
       'Wonotirto Soil Moisture [7-28 cm down].1',
       'Wonotirto Soil Moisture [7-28 cm down].2'],
      dtype='object')

### Clean Data

Drop column not used

In [73]:
df.drop(columns=['Wonotirto Evapotranspiration'], axis=1, inplace= True)

In [74]:
# replace location name
df.columns = df.columns.str.replace('Wonotirto ', '', regex=False)

In [75]:
df.columns

Index(['timestamp', 'Temperature [2 m elevation corrected]',
       'Temperature [2 m elevation corrected].1',
       'Temperature [2 m elevation corrected].2', 'Precipitation Total',
       'Relative Humidity [2 m]', 'Relative Humidity [2 m].1',
       'Relative Humidity [2 m].2', 'Sunshine Duration',
       'Soil Moisture [7-28 cm down]', 'Soil Moisture [7-28 cm down].1',
       'Soil Moisture [7-28 cm down].2'],
      dtype='object')

Rename Columns

In [76]:
df.rename(columns={
    'Temperature [2 m elevation corrected]' : 'suhu_max',
    'Temperature [2 m elevation corrected].1' : 'suhu_min',
    'Temperature [2 m elevation corrected].2' : 'suhu_mean',
    'Precipitation Total': 'curah_hujan',
    'Relative Humidity [2 m]': 'kelembapan_udara_max',
    'Relative Humidity [2 m].1':'kelembapan_udara_min',
    'Relative Humidity [2 m].2' : 'kelembapan_udara_mean',
    'Sunshine Duration': 'durasi_matahari',
    'Soil Moisture [7-28 cm down]' : 'kelembapan_tanah_max',
    'Soil Moisture [7-28 cm down].1' : 'kelembapan_tanah_min',
    'Soil Moisture [7-28 cm down].2' : 'kelembapan_tanah_mean'
}, inplace=True)

df.head()

,timestamp,suhu_max,suhu_min,suhu_mean,curah_hujan,kelembapan_udara_max,kelembapan_udara_min,kelembapan_udara_mean,durasi_matahari,kelembapan_tanah_max,kelembapan_tanah_min,kelembapan_tanah_mean
0,2023-01-01,29.211240,22.051240,24.642494,3.900000,94.91282,66.770935,85.15550,270.29965,0.306,0.296,0.299875
1,2023-01-02,28.251242,21.701240,24.244990,21.800003,95.31577,71.636536,86.83172,364.49142,0.350,0.298,0.324708
2,2023-01-03,29.251242,22.081242,24.992075,2.900000,90.51155,66.172400,81.60519,495.79090,0.330,0.311,0.317917
3,2023-01-04,29.371240,21.991241,24.973742,2.800000,94.34193,68.940475,83.90246,476.32050,0.310,0.297,0.302167
4,2023-01-05,28.441240,22.171242,24.643326,8.299999,91.76277,74.567010,84.68249,351.70572,0.306,0.295,0.300125

In [77]:
df.columns

Index(['timestamp', 'suhu_max', 'suhu_min', 'suhu_mean', 'curah_hujan',
       'kelembapan_udara_max', 'kelembapan_udara_min', 'kelembapan_udara_mean',
       'durasi_matahari', 'kelembapan_tanah_max', 'kelembapan_tanah_min',
       'kelembapan_tanah_mean'],
      dtype='object')

check dtypes

In [78]:
df.dtypes

timestamp                datetime64[ns]
suhu_max                        float64
suhu_min                        float64
suhu_mean                       float64
curah_hujan                     float64
kelembapan_udara_max            float64
kelembapan_udara_min            float64
kelembapan_udara_mean           float64
durasi_matahari                 float64
kelembapan_tanah_max            float64
kelembapan_tanah_min            float64
kelembapan_tanah_mean           float64
dtype: object

check missing value

In [79]:
df.isnull().sum()

timestamp                0
suhu_max                 0
suhu_min                 0
suhu_mean                0
curah_hujan              0
kelembapan_udara_max     0
kelembapan_udara_min     0
kelembapan_udara_mean    0
durasi_matahari          0
kelembapan_tanah_max     0
kelembapan_tanah_min     0
kelembapan_tanah_mean    0
dtype: int64

In [80]:
df2 = pd.DataFrame({
    'nama_lahan' : "Wonotirto",
    'suhu_mean' : [round(df['suhu_mean'].mean(),3)],
    'curah_hujan': [round(df['curah_hujan'].sum(),3)],
    'kelembapan_udara':[round(df['kelembapan_udara_mean'].mean(),3)],
    'penyinaran': [round((df['durasi_matahari'].mean())/60,3)],
    'kelembapan_tanah': [round(df['kelembapan_tanah_mean'].mean(),3)],
})

df2

,nama_lahan,suhu_mean,curah_hujan,kelembapan_udara,penyinaran,kelembapan_tanah
0,Wonotirto,24.55,1741.1,84.174,7.208,0.198

In [81]:
df2.to_excel('./clean/wonotirto.xlsx', index=False)

merge all dataset

In [82]:
import pandas as pd
import os

# Folder tempat file Excel berada
folder_path = './clean'  # Ganti dengan path folder Anda
output_file = 'merged_data.xlsx'  # Nama file yang ingin ditimpa

# Membuat folder jika belum ada
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Inisialisasi list untuk menyimpan semua DataFrame
all_data = []

# Loop melalui semua file Excel di folder
for file in os.listdir(folder_path):
    if file.endswith('.xlsx') and file != output_file:  # Hindari membaca file output
        file_path = os.path.join(folder_path, file)
        # Membaca file Excel
        df = pd.read_excel(file_path)
        all_data.append(df)

# Menggabungkan semua DataFrame menjadi satu
merged_data = pd.concat(all_data, ignore_index=True)

# Menyimpan DataFrame gabungan ke file Excel baru (menimpa jika sudah ada)
output_path = os.path.join(folder_path, output_file)
merged_data.to_excel(output_path, index=False)

print(f"File '{output_file}' telah berhasil ditimpa dengan data gabungan.")

File 'merged_data.xlsx' telah berhasil ditimpa dengan data gabungan.

Check merged data

In [2]:
import pandas as pd

df = pd.read_excel("./clean/merged_data.xlsx")
df

,nama_lahan,suhu_mean,curah_hujan,kelembapan_udara,penyinaran,kelembapan_tanah
0,Bakung,26.202,1133.2,83.806,7.749,0.272
1,Binangun,25.422,1133.2,83.806,7.749,0.272
2,Doko,24.817,1741.1,84.174,7.208,0.198
3,Gandusari,24.732,1741.1,84.174,7.208,0.198
4,Garum,25.408,1741.1,84.174,7.208,0.198
5,Kademangan,26.315,1383.8,82.598,7.608,0.237
6,Kanigoro,25.877,1133.2,83.806,7.749,0.272
7,Kesamben,24.192,1582.9,85.421,6.806,0.299
8,Nglegok,24.888,1741.1,84.174,7.208,0.198
9,Panggungrejo,25.337,1133.2,83.806,7.749,0.272
10,Ponggok,24.093,1728.7,84.851,6.560,0.281
11,Sanankulon,25.961,1133.2,83.806,7.749,0.272
12,Selopuro,25.695,1133.2,83.806,7.749,0.272
13,Selorejo,25.114,1398.5,83.581,7.109,0.285
14,Srengat,26.244,1383.8,82.598,7.608,0.237
15,Sutojayan,26.072,1133.2,83.806,7.749,0.272
16,Talun,25.428,1741.1,84.174,7.208,0.198
17,Udanawu,26.250,1383.8,82.598,7.608,0.237
18,Wates,24.308,1398.5,83.581,7.109,0.285
19,Wlingi,25.083,1741.1,84.174,7.208,0.198
20,Wonodadi,23.670,1728.7,84.851,6.560,0.281
21,Wonotirto,24.550,1741.1,84.174,7.208,0.198

In [84]:
jenis_tanah_dict = {
    'Bakung': 'Kompleks Litosol, Mediteran, Renzina',
    'Binangun': 'Mediteran',
    'Doko': 'Asosiasi Latosol cokelat dan Regosol kelabu',
    'Gandusari': 'Kompleks Regosol dan Litosol',
    'Garum': 'Regosol',
    'Kademangan': 'Kompleks Litosol, Mediteran, Renzina',
    'Kanigoro': 'Regosol',
    'Kesamben': 'Mediteran',
    'Nglegok': 'Kompleks Regosol dan Litosol',
    'Panggungrejo': 'Kompleks Litosol, Mediteran, Renzina',
    'Ponggok': 'Kompleks Regosol dan Litosol',
    'Sanankulon': 'Kompleks Regosol dan Litosol',
    'Selorejo': 'Mediteran',
    'Srengat': 'Kompleks Regosol dan Litosol',
    'Sutojayan': 'Regosol',
    'Talun': 'Regosol',
    'Selopuro': 'Regosol',
    'Udanawu': 'Kompleks Regosol dan Litosol',
    'Wates': 'Kompleks Litosol, Mediteran, Renzina',
    'Wlingi': 'Asosiasi Latosol cokelat dan Regosol kelabu',
    'Wonodadi': 'Regosol',
    'Wonotirto': 'Kompleks Litosol, Mediteran, Renzina'
}


df['jenis_tanah'] = df['nama_lahan'].map(jenis_tanah_dict)

df.head()

,nama_lahan,suhu_mean,curah_hujan,kelembapan_udara,penyinaran,kelembapan_tanah,jenis_tanah
0,Bakung,26.202,1133.2,83.806,7.749,0.272,"Kompleks Litosol, Mediteran, Renzina"
1,Binangun,25.422,1133.2,83.806,7.749,0.272,Mediteran
2,Doko,24.817,1741.1,84.174,7.208,0.198,Asosiasi Latosol cokelat dan Regosol kelabu
3,Gandusari,24.732,1741.1,84.174,7.208,0.198,Kompleks Regosol dan Litosol
4,Garum,25.408,1741.1,84.174,7.208,0.198,Regosol

In [85]:
df['nama_lahan'].tolist()

['Bakung',
 'Binangun',
 'Doko',
 'Gandusari',
 'Garum',
 'Kademangan',
 'Kanigoro',
 'Kesamben',
 'Nglegok',
 'Panggungrejo',
 'Ponggok',
 'Sanankulon',
 'Selopuro',
 'Selorejo',
 'Srengat',
 'Sutojayan',
 'Talun',
 'Udanawu',
 'Wates',
 'Wlingi',
 'Wonodadi',
 'Wonotirto']

In [86]:
ketinggian_dict ={
    'Bakung': 160,
    'Binangun': 243,
    'Doko': 349,
    'Gandusari': 348,
    'Garum': 276,
    'Kademangan': 246,
    'Kanigoro': 183,
    'Kesamben': 222,
    'Nglegok': 325,
    'Panggungrejo': 310,
    'Ponggok': 162,
    'Sanankulon': 212,
    'Selopuro': 192,
    'Selorejo':293,
    'Srengat': 133,
    'Sutojayan': 150,
    'Talun': 221,
    'Udanawu': 123,
    'Wates': 420,
    'Wlingi': 282,
    'Wonodadi': 105,
    'Wonotirto' : 387
}

df['ketinggian'] = df['nama_lahan'].map(ketinggian_dict)

df.head()

,nama_lahan,suhu_mean,curah_hujan,kelembapan_udara,penyinaran,kelembapan_tanah,jenis_tanah,ketinggian
0,Bakung,26.202,1133.2,83.806,7.749,0.272,"Kompleks Litosol, Mediteran, Renzina",160
1,Binangun,25.422,1133.2,83.806,7.749,0.272,Mediteran,243
2,Doko,24.817,1741.1,84.174,7.208,0.198,Asosiasi Latosol cokelat dan Regosol kelabu,349
3,Gandusari,24.732,1741.1,84.174,7.208,0.198,Kompleks Regosol dan Litosol,348
4,Garum,25.408,1741.1,84.174,7.208,0.198,Regosol,276

Check data

In [87]:
df.dtypes

nama_lahan           object
suhu_mean           float64
curah_hujan         float64
kelembapan_udara    float64
penyinaran          float64
kelembapan_tanah    float64
jenis_tanah          object
ketinggian            int64
dtype: object

In [88]:
convert = ['ketinggian']

df[convert] = df[convert].astype('float')
df.dtypes

nama_lahan           object
suhu_mean           float64
curah_hujan         float64
kelembapan_udara    float64
penyinaran          float64
kelembapan_tanah    float64
jenis_tanah          object
ketinggian          float64
dtype: object

In [89]:
df.head()

,nama_lahan,suhu_mean,curah_hujan,kelembapan_udara,penyinaran,kelembapan_tanah,jenis_tanah,ketinggian
0,Bakung,26.202,1133.2,83.806,7.749,0.272,"Kompleks Litosol, Mediteran, Renzina",160.0
1,Binangun,25.422,1133.2,83.806,7.749,0.272,Mediteran,243.0
2,Doko,24.817,1741.1,84.174,7.208,0.198,Asosiasi Latosol cokelat dan Regosol kelabu,349.0
3,Gandusari,24.732,1741.1,84.174,7.208,0.198,Kompleks Regosol dan Litosol,348.0
4,Garum,25.408,1741.1,84.174,7.208,0.198,Regosol,276.0

In [90]:
df.to_excel('./clean/data_lahan.xlsx', index=False)

### Tambah Data

In [1]:
import pandas as pd

df_kurang = pd.read_excel('./dataset/dataset/data kurang.xlsx')


df_kurang.head(10)

,Nama_Lahan,Kemiringan,"Drainase (lancar, terhambat, lambat",pH,Tekstur tanah,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Bakung,40-50%,Lancar,5.7 - 7.7,Tekstur Kasar dan bebatu,NaN,NaN,NaN
1,Binangun,40-50%,Lancar,5.7 - 7.7,Tekstur Kasar dan bebatu,NaN,NaN,NaN
2,Doko,25-35%,Lancar,4.8 - 6.7,Tekstur halus dan berliat,NaN,NaN,
3,Gandusari,15-25%,Lancar,4.8 - 6.7,Tekstur halus dan berliat,NaN,NaN,NaN
4,Garum,0.05,Lancar,4.2 - 6.3,Tekstur sedang dan Lempung Berpasir,NaN,NaN,
5,Kademangan,15-25%,Terhambat,4.5 - 6.2,Tekstur sedang dan berlempung,NaN,NaN,NaN
6,Kanigoro,0.05,Lancar,4.2 - 6.3,Tekstur sedang dan Lempung Berpasir,NaN,NaN,NaN
7,Kesamben,15-25%,Lancar,4.3 - 6.3,Tekstur sedang dan berlempung,NaN,NaN,NaN
8,Nglegok,0.1,Lancar,4.2 - 6.3,Tekstur sedang dan Lempung Berpasir,NaN,NaN,NaN
9,Panggungrejo,50-60%,Lancar,5.7 - 7.7,Tekstur Kasar dan bebatu,NaN,NaN,NaN

In [92]:
df_kurang.drop(columns=['Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'], axis= 1, inplace=True)
df_kurang.head()

,Nama_Lahan,Kemiringan,"Drainase (lancar, terhambat, lambat",pH,Tekstur tanah
0,Bakung,40-50%,Lancar,5.7 - 7.7,Tekstur Kasar dan bebatu
1,Binangun,40-50%,Lancar,5.7 - 7.7,Tekstur Kasar dan bebatu
2,Doko,25-35%,Lancar,4.8 - 6.7,Tekstur halus dan berliat
3,Gandusari,15-25%,Lancar,4.8 - 6.7,Tekstur halus dan berliat
4,Garum,0.05,Lancar,4.2 - 6.3,Tekstur sedang dan Lempung Berpasir

In [93]:
df_kurang.rename(columns={
    'Nama_Lahan' : 'nama_lahan',
    'Kemiringan' : 'kemiringan',
    'Drainase (lancar, terhambat, lambat' : 'drainase',
    'pH': 'ph',
    'Tekstur tanah': 'tekstur_tanah',
}, inplace=True)

df_kurang.head(10)

,nama_lahan,kemiringan,drainase,ph,tekstur_tanah
0,Bakung,40-50%,Lancar,5.7 - 7.7,Tekstur Kasar dan bebatu
1,Binangun,40-50%,Lancar,5.7 - 7.7,Tekstur Kasar dan bebatu
2,Doko,25-35%,Lancar,4.8 - 6.7,Tekstur halus dan berliat
3,Gandusari,15-25%,Lancar,4.8 - 6.7,Tekstur halus dan berliat
4,Garum,0.05,Lancar,4.2 - 6.3,Tekstur sedang dan Lempung Berpasir
5,Kademangan,15-25%,Terhambat,4.5 - 6.2,Tekstur sedang dan berlempung
6,Kanigoro,0.05,Lancar,4.2 - 6.3,Tekstur sedang dan Lempung Berpasir
7,Kesamben,15-25%,Lancar,4.3 - 6.3,Tekstur sedang dan berlempung
8,Nglegok,0.1,Lancar,4.2 - 6.3,Tekstur sedang dan Lempung Berpasir
9,Panggungrejo,50-60%,Lancar,5.7 - 7.7,Tekstur Kasar dan bebatu

In [94]:
#mengubah data %
def calculate(value):
    value = str(value)
    if '-' in value:
        start, end = value.replace('%','').split('-')
    elif ' - ' in value:
        start, end = value.split(' - ')
    else:
        num_value = float(value)

        # Jika nilai kurang dari 1, kalikan 100
        if num_value < 1:
            return num_value * 100
        return num_value

    # Mengembalikan rata-rata dari start dan end
    return (float(start.strip()) + float(end.strip())) / 2

# Memeriksa apakah kolom 'kemiringan' ada, lalu mengaplikasikan fungsi calculate
if 'kemiringan' in df_kurang.columns:
    df_kurang['kemiringan'] = df_kurang['kemiringan'].apply(calculate)

# Memeriksa apakah kolom 'ph' ada, lalu mengaplikasikan fungsi calculate
if 'ph' in df_kurang.columns:
    df_kurang['ph'] = df_kurang['ph'].apply(calculate)

df_kurang.head(10)

,nama_lahan,kemiringan,drainase,ph,tekstur_tanah
0,Bakung,45.0,Lancar,6.70,Tekstur Kasar dan bebatu
1,Binangun,45.0,Lancar,6.70,Tekstur Kasar dan bebatu
2,Doko,30.0,Lancar,5.75,Tekstur halus dan berliat
3,Gandusari,20.0,Lancar,5.75,Tekstur halus dan berliat
4,Garum,5.0,Lancar,5.25,Tekstur sedang dan Lempung Berpasir
5,Kademangan,20.0,Terhambat,5.35,Tekstur sedang dan berlempung
6,Kanigoro,5.0,Lancar,5.25,Tekstur sedang dan Lempung Berpasir
7,Kesamben,20.0,Lancar,5.30,Tekstur sedang dan berlempung
8,Nglegok,10.0,Lancar,5.25,Tekstur sedang dan Lempung Berpasir
9,Panggungrejo,55.0,Lancar,6.70,Tekstur Kasar dan bebatu

In [95]:
df_kurang['drainase'] = df_kurang['drainase'].str.lower()

# Mengubah kolom 'tekstur_tanah' dengan menghapus kata 'Tekstur' dan mengubahnya menjadi huruf kecil
df_kurang['tekstur_tanah'] = df_kurang['tekstur_tanah'].str.replace('Tekstur', '', regex=False).str.lower()


df_kurang.head(10)

     nama_lahan  kemiringan   drainase    ph                 tekstur_tanah
0        Bakung        45.0     lancar  6.70              kasar dan bebatu
1      Binangun        45.0     lancar  6.70              kasar dan bebatu
2          Doko        30.0     lancar  5.75             halus dan berliat
3     Gandusari        20.0     lancar  5.75             halus dan berliat
4         Garum         5.0     lancar  5.25   sedang dan lempung berpasir
5    Kademangan        20.0  terhambat  5.35         sedang dan berlempung
6      Kanigoro         5.0     lancar  5.25   sedang dan lempung berpasir
7      Kesamben        20.0     lancar  5.30         sedang dan berlempung
8       Nglegok        10.0     lancar  5.25   sedang dan lempung berpasir
9  Panggungrejo        55.0     lancar  6.70              kasar dan bebatu

In [96]:
df_kurang.to_excel('./clean/data_kurang.xlsx', index=False)

In [5]:
data1 = pd.read_excel('./clean/data_lahan.xlsx')
data2 = pd.read_excel('./clean/data_kurang.xlsx')

merged_data = pd.merge(data1, data2, on = 'nama_lahan', how='outer')

merged_data.head()

,nama_lahan,suhu_mean,curah_hujan,kelembapan_udara,penyinaran,kelembapan_tanah,jenis_tanah,ketinggian,kemiringan,drainase,ph,tekstur_tanah
0,Bakung,26.202,1133.2,83.806,7.749,0.272,"Kompleks Litosol, Mediteran, Renzina",160,45.0,lancar,6.70,kasar dan bebatu
1,Binangun,25.422,1133.2,83.806,7.749,0.272,Mediteran,243,45.0,lancar,6.70,kasar dan bebatu
2,Doko,24.817,1741.1,84.174,7.208,0.198,Asosiasi Latosol cokelat dan Regosol kelabu,349,30.0,lancar,5.75,halus dan berliat
3,Gandusari,24.732,1741.1,84.174,7.208,0.198,Kompleks Regosol dan Litosol,348,20.0,lancar,5.75,halus dan berliat
4,Garum,25.408,1741.1,84.174,7.208,0.198,Regosol,276,5.0,lancar,5.25,sedang dan lempung berpasir

In [6]:
merged_data['ketinggian'] = merged_data['ketinggian'].astype(float)
merged_data.dtypes

nama_lahan           object
suhu_mean           float64
curah_hujan         float64
kelembapan_udara    float64
penyinaran          float64
kelembapan_tanah    float64
jenis_tanah          object
ketinggian          float64
kemiringan          float64
drainase             object
ph                  float64
tekstur_tanah        object
dtype: object

In [7]:
merged_data['jenis_tanah'] = merged_data['jenis_tanah'].str.lower()
merged_data['jenis_tanah'] = merged_data['jenis_tanah'].str.replace(' ,', ',', regex=False)
merged_data.head(10)

,nama_lahan,suhu_mean,curah_hujan,kelembapan_udara,penyinaran,kelembapan_tanah,jenis_tanah,ketinggian,kemiringan,drainase,ph,tekstur_tanah
0,Bakung,26.202,1133.2,83.806,7.749,0.272,"kompleks litosol, mediteran, renzina",160.0,45.0,lancar,6.70,kasar dan bebatu
1,Binangun,25.422,1133.2,83.806,7.749,0.272,mediteran,243.0,45.0,lancar,6.70,kasar dan bebatu
2,Doko,24.817,1741.1,84.174,7.208,0.198,asosiasi latosol cokelat dan regosol kelabu,349.0,30.0,lancar,5.75,halus dan berliat
3,Gandusari,24.732,1741.1,84.174,7.208,0.198,kompleks regosol dan litosol,348.0,20.0,lancar,5.75,halus dan berliat
4,Garum,25.408,1741.1,84.174,7.208,0.198,regosol,276.0,5.0,lancar,5.25,sedang dan lempung berpasir
5,Kademangan,26.315,1383.8,82.598,7.608,0.237,"kompleks litosol, mediteran, renzina",246.0,20.0,terhambat,5.35,sedang dan berlempung
6,Kanigoro,25.877,1133.2,83.806,7.749,0.272,regosol,183.0,5.0,lancar,5.25,sedang dan lempung berpasir
7,Kesamben,24.192,1582.9,85.421,6.806,0.299,mediteran,222.0,20.0,lancar,5.30,sedang dan berlempung
8,Nglegok,24.888,1741.1,84.174,7.208,0.198,kompleks regosol dan litosol,325.0,10.0,lancar,5.25,sedang dan lempung berpasir
9,Panggungrejo,25.337,1133.2,83.806,7.749,0.272,"kompleks litosol, mediteran, renzina",310.0,55.0,lancar,6.70,kasar dan bebatu

In [8]:
data = merged_data['tekstur_tanah'].tolist()

data

[' kasar dan bebatu',
 ' kasar dan bebatu',
 ' halus dan berliat',
 ' halus dan berliat',
 ' sedang dan lempung berpasir',
 ' sedang dan berlempung',
 ' sedang dan lempung berpasir',
 ' sedang dan berlempung',
 ' sedang dan lempung berpasir',
 ' kasar dan bebatu',
 ' sedang dan lempung berpasir',
 ' sedang dan lempung berpasir',
 ' sedang dan berlempung',
 ' halus dan berliat',
 ' sedang dan berlempung',
 ' sedang dan berlempung',
 ' sedang dan lempung berpasir',
 ' sedang dan berlempung',
 ' sedang dan liat berpasir',
 ' sedang dan lempung berpasir',
 ' sedang dan berlempung',
 ' kasar dan bebatu']

In [112]:
merged_data['tekstur_tanah'] = (
    merged_data['tekstur_tanah']
    .str.replace(' kasar ', '', regex=False)
    .str.replace(' sedang ', '', regex=False)
    .str.replace(' halus ', '', regex=False)
    .str.replace('dan ', '', regex=False)
    .str.replace('bebatu', 'berbatu', regex=False)
    .str.replace('berliat', 'liat', regex=False)
    .str.replace('berlempung', 'lempung', regex=False)
)

merge_data = merged_data['tekstur_tanah'].tolist()

merge_data

['berbatu',
 'berbatu',
 'liat',
 'liat',
 'lempung berpasir',
 'lempung',
 'lempung berpasir',
 'lempung',
 'lempung berpasir',
 'berbatu',
 'lempung berpasir',
 'lempung berpasir',
 'lempung',
 'liat',
 'lempung',
 'lempung',
 'lempung berpasir',
 'lempung',
 'liat berpasir',
 'lempung berpasir',
 'lempung',
 'berbatu']

In [113]:
merged_data.to_excel('./dataset/data_lahan_full.xlsx', index=False)