In [16]:
import nbformat
import pandas as pd

# Fungsi untuk memuat variabel dari notebook
def load_variable_from_notebook(notebook_path, variable_name):
    # Membuka dan membaca notebook
    with open(notebook_path, 'r', encoding='utf-8') as f:
        notebook = nbformat.read(f, as_version=4)
    
    # Membuat namespace baru untuk mengeksekusi kode
    namespace = {}
    
    # Mengeksekusi setiap sel kode dalam notebook
    for cell in notebook.cells:
        if cell.cell_type == 'code':
            exec(cell.source, namespace)
    
    # Mengambil variabel yang diminta dari namespace
    variable = namespace.get(variable_name)
    if variable is None:
        raise ValueError(f"Variable '{variable_name}' not found in {notebook_path}")
    return variable

# Ranking Varietas MM

In [24]:


# Mengimpor variabel dari masing-masing notebook
total_skor_tanah_MM = load_variable_from_notebook('pm_tanah.ipynb', 'total_skor_tanah_MM')
total_skor_topo_MM = load_variable_from_notebook('pm_topografi.ipynb', 'total_skor_topo_MM')
skor_total_iklim_MM = load_variable_from_notebook('pm_iklim.ipynb', 'skor_total_iklim_MM')  # Ganti nama variabel yang dimuat

# Membuat DataFrame dari setiap variabel yang telah diimpor
import pandas as pd

# Menggabungkan DataFrame berdasarkan 'nama_lahan'
df_tanah = total_skor_tanah_MM[['nama_lahan', 'total_skor_tanah_MM']]
df_topo = total_skor_topo_MM[['nama_lahan', 'total_skor_topo_MM']]
df_iklim = skor_total_iklim_MM[['nama_lahan', 'total_skor_iklim_MM']]  # Pastikan nama variabel sesuai

df_combined = pd.merge(df_iklim, df_topo, on='nama_lahan')
df_combined = pd.merge(df_combined, df_tanah, on='nama_lahan')

# Menambahkan kolom baru untuk total skor keseluruhan
df_combined['total_skor_keseluruhan'] = (
    df_combined['total_skor_iklim_MM'] + 
    df_combined['total_skor_topo_MM'] + 
    df_combined['total_skor_tanah_MM']
)

# Mengurutkan DataFrame berdasarkan 'total_skor_keseluruhan' secara descending
df_combined_sorted = df_combined.sort_values(by='total_skor_keseluruhan', ascending=False)

# Menambahkan kolom ranking
df_combined_sorted['ranking'] = range(1, len(df_combined_sorted) + 1)

# Menyusun ulang kolom sehingga 'ranking' berada setelah 'total_skor_keseluruhan'
cols = df_combined_sorted.columns.tolist()
col_pos = cols.index('total_skor_keseluruhan') + 1  # Dapatkan posisi setelah 'total_skor_keseluruhan'
cols.insert(col_pos, cols.pop(cols.index('ranking')))  # Pindahkan 'ranking' ke posisi yang diinginkan

# Menerapkan urutan kolom baru
df_combined_sorted = df_combined_sorted[cols]

# Menampilkan DataFrame yang telah disusun
df_combined_sorted

,nama_lahan,total_skor_iklim_MM,total_skor_topo_MM,total_skor_tanah_MM,total_skor_keseluruhan,ranking
11,Sanankulon,2.026938,0.443649,2.360703,4.831290,1
12,Selopuro,2.026938,0.434885,2.326521,4.788344,2
6,Kanigoro,2.026938,0.430941,2.326521,4.784399,3
15,Sutojayan,2.026938,0.416479,2.326521,4.769938,4
9,Panggungrejo,2.026938,0.471751,2.169968,4.668657,5
1,Binangun,2.026938,0.457235,2.147799,4.631972,6
0,Bakung,2.026938,0.420861,2.169968,4.617767,7
13,Selorejo,1.688864,0.479147,2.322650,4.490661,8
18,Wates,1.688864,0.534803,2.178173,4.401840,9
5,Kademangan,1.713900,0.273738,2.314524,4.302162,10
14,Srengat,1.713900,0.224217,2.338613,4.276730,11
17,Udanawu,1.713900,0.219834,2.338613,4.272348,12
7,Kesamben,1.374805,0.448032,2.331487,4.154324,13
2,Doko,1.175367,0.503688,2.338823,4.017878,14
3,Gandusari,1.175367,0.503250,2.313998,3.992615,15
19,Wlingi,1.175367,0.474326,2.338823,3.988516,16
8,Nglegok,1.175367,0.493170,2.313998,3.982535,17
10,Ponggok,1.175367,0.421738,2.366384,3.963488,18
4,Garum,1.175367,0.471697,2.279816,3.926880,19
16,Talun,1.175367,0.447594,2.279816,3.902777,20
21,Wonotirto,1.175367,0.520341,2.123263,3.818971,21
20,Wonodadi,1.175367,0.211946,2.332202,3.719515,22

# Rangking Varietas MR

In [25]:
# Mengimpor variabel dari masing-masing notebook
total_skor_tanah_MR = load_variable_from_notebook('pm_tanah.ipynb', 'total_skor_tanah_MR')
total_skor_topo_MR = load_variable_from_notebook('pm_topografi.ipynb', 'total_skor_topo_MR')
skor_total_iklim_MR = load_variable_from_notebook('pm_iklim.ipynb', 'skor_total_iklim_MR')  # Ganti nama variabel yang dimuat

# Membuat DataFrame dari setiap variabel yang telah diimpor
import pandas as pd

# Menggabungkan DataFrame berdasarkan 'nama_lahan'
df_tanah = total_skor_tanah_MR[['nama_lahan', 'total_skor_tanah_MR']]
df_topo = total_skor_topo_MR[['nama_lahan', 'total_skor_topo_MR']]
df_iklim = skor_total_iklim_MR[['nama_lahan', 'total_skor_iklim_MR']]  # Pastikan nama variabel sesuai

df_combined = pd.merge(df_iklim, df_topo, on='nama_lahan')
df_combined = pd.merge(df_combined, df_tanah, on='nama_lahan')

# Menambahkan kolom baru untuk total skor keseluruhan
df_combined['total_skor_keseluruhan'] = (
    df_combined['total_skor_iklim_MR'] + 
    df_combined['total_skor_topo_MR'] + 
    df_combined['total_skor_tanah_MR']
)

# Mengurutkan DataFrame berdasarkan 'total_skor_keseluruhan' secara descending
df_combined_sorted = df_combined.sort_values(by='total_skor_keseluruhan', ascending=False)

# Menambahkan kolom ranking
df_combined_sorted['ranking'] = range(1, len(df_combined_sorted) + 1)

# Menyusun ulang kolom sehingga 'ranking' berada setelah 'total_skor_keseluruhan'
cols = df_combined_sorted.columns.tolist()
col_pos = cols.index('total_skor_keseluruhan') + 1  # Dapatkan posisi setelah 'total_skor_keseluruhan'
cols.insert(col_pos, cols.pop(cols.index('ranking')))  # Pindahkan 'ranking' ke posisi yang diinginkan

# Menerapkan urutan kolom baru
df_combined_sorted = df_combined_sorted[cols]

# Menampilkan DataFrame yang telah disusun
df_combined_sorted

,nama_lahan,total_skor_iklim_MR,total_skor_topo_MR,total_skor_tanah_MR,total_skor_keseluruhan,ranking
11,Sanankulon,2.026938,0.569862,2.403200,5.000000,1
6,Kanigoro,2.026938,0.569862,2.369018,4.965818,2
15,Sutojayan,2.026938,0.569862,2.369018,4.965818,3
12,Selopuro,2.026938,0.569862,2.369018,4.965818,4
0,Bakung,2.026938,0.569862,2.212466,4.809265,5
1,Binangun,2.026938,0.569862,2.190296,4.787096,6
9,Panggungrejo,2.026938,0.533105,2.212466,4.772508,7
13,Selorejo,1.688864,0.569862,2.356943,4.615669,8
17,Udanawu,1.713900,0.385050,2.403200,4.502151,9
14,Srengat,1.713900,0.385050,2.403200,4.502151,10
5,Kademangan,1.713900,0.385050,2.379112,4.478062,11
7,Kesamben,1.374805,0.569862,2.356943,4.301610,12
18,Wates,1.688864,0.350743,2.212466,4.252073,13
10,Ponggok,1.175367,0.569862,2.403200,4.148429,14
19,Wlingi,1.175367,0.569862,2.388895,4.134124,15
4,Garum,1.175367,0.569862,2.367125,4.112354,16
16,Talun,1.175367,0.569862,2.367125,4.112354,17
8,Nglegok,1.175367,0.515082,2.401307,4.091756,18
3,Gandusari,1.175367,0.464685,2.401307,4.041359,19
2,Doko,1.175367,0.462494,2.388895,4.026755,20
20,Wonodadi,1.175367,0.385050,2.369018,3.929436,21
21,Wonotirto,1.175367,0.379229,2.210572,3.765168,22

# Ranking Varietas MK

In [19]:
# Mengimpor variabel dari masing-masing notebook
total_skor_tanah_MK = load_variable_from_notebook('pm_tanah.ipynb', 'total_skor_tanah_MK')
total_skor_topo_MK = load_variable_from_notebook('pm_topografi.ipynb', 'total_skor_topo_MK')
skor_total_iklim_MK = load_variable_from_notebook('pm_iklim.ipynb', 'skor_total_iklim_MK')  # Ganti nama variabel yang dimuat

# Membuat DataFrame dari setiap variabel yang telah diimpor
import pandas as pd

# Menggabungkan DataFrame berdasarkan 'nama_lahan'
df_tanah = total_skor_tanah_MK[['nama_lahan', 'total_skor_tanah_MK']]
df_topo = total_skor_topo_MK[['nama_lahan', 'total_skor_topo_MK']]
df_iklim = skor_total_iklim_MK[['nama_lahan', 'total_skor_iklim_MK']]  # Pastikan nama variabel sesuai

df_combined = pd.merge(df_iklim, df_topo, on='nama_lahan')
df_combined = pd.merge(df_combined, df_tanah, on='nama_lahan')

# Menambahkan kolom baru untuk total skor keseluruhan
df_combined['total_skor_keseluruhan'] = (
    df_combined['total_skor_iklim_MK'] + 
    df_combined['total_skor_topo_MK'] + 
    df_combined['total_skor_tanah_MK']
)

# Mengurutkan DataFrame berdasarkan 'total_skor_keseluruhan' secara descending
df_combined_sorted = df_combined.sort_values(by='total_skor_keseluruhan', ascending=False)

# Menambahkan kolom ranking
df_combined_sorted['ranking'] = range(1, len(df_combined_sorted) + 1)

# Menyusun ulang kolom sehingga 'ranking' berada setelah 'total_skor_keseluruhan'
cols = df_combined_sorted.columns.tolist()
col_pos = cols.index('total_skor_keseluruhan') + 1  # Dapatkan posisi setelah 'total_skor_keseluruhan'
cols.insert(col_pos, cols.pop(cols.index('ranking')))  # Pindahkan 'ranking' ke posisi yang diinginkan

# Menerapkan urutan kolom baru
df_combined_sorted = df_combined_sorted[cols]

# Menampilkan DataFrame yang telah disusun
df_combined_sorted

,nama_lahan,total_skor_iklim_MK,total_skor_topo_MK,total_skor_tanah_MK,total_skor_keseluruhan,ranking
11,Sanankulon,2.026938,0.569862,2.385528,4.982328,1
6,Kanigoro,2.026938,0.569862,2.351346,4.948146,2
15,Sutojayan,2.026938,0.569862,2.351346,4.948146,3
12,Selopuro,2.026938,0.569862,2.351346,4.948146,4
0,Bakung,2.026938,0.569862,2.194793,4.791593,5
1,Binangun,2.026938,0.569862,2.172624,4.769424,6
13,Selorejo,1.688864,0.569862,2.347475,4.606201,7
9,Panggungrejo,2.026938,0.335898,2.194793,4.557629,8
17,Udanawu,1.713900,0.385050,2.363438,4.462388,9
14,Srengat,1.713900,0.385050,2.363438,4.462388,10
5,Kademangan,1.713900,0.385050,2.339349,4.438299,11
7,Kesamben,1.374805,0.569862,2.356311,4.300978,12
18,Wates,1.688864,0.350743,2.202998,4.242606,13
10,Ponggok,1.175367,0.569862,2.391208,4.136438,14
19,Wlingi,1.175367,0.569862,2.326410,4.071639,15
4,Garum,1.175367,0.569862,2.304641,4.049870,16
16,Talun,1.175367,0.569862,2.304641,4.049870,17
20,Wonodadi,1.175367,0.385050,2.357026,3.917444,18
3,Gandusari,1.175367,0.350743,2.338823,3.864933,19
8,Nglegok,1.175367,0.350743,2.338823,3.864933,20
2,Doko,1.175367,0.350743,2.326410,3.852520,21
21,Wonotirto,1.175367,0.350743,2.148088,3.674198,22

# Ranking Varietas MW

In [20]:
# Mengimpor variabel dari masing-masing notebook
total_skor_tanah_MW = load_variable_from_notebook('pm_tanah.ipynb', 'total_skor_tanah_MW')
total_skor_topo_MW = load_variable_from_notebook('pm_topografi.ipynb', 'total_skor_topo_MW')
skor_total_iklim_MW = load_variable_from_notebook('pm_iklim.ipynb', 'skor_total_iklim_MW')  # Ganti nama variabel yang dimuat

# Membuat DataFrame dari setiap variabel yang telah diimpor
import pandas as pd

# Menggabungkan DataFrame berdasarkan 'nama_lahan'
df_tanah = total_skor_tanah_MW[['nama_lahan', 'total_skor_tanah_MW']]
df_topo = total_skor_topo_MW[['nama_lahan', 'total_skor_topo_MW']]
df_iklim = skor_total_iklim_MW[['nama_lahan', 'total_skor_iklim_MW']]  # Pastikan nama variabel sesuai

df_combined = pd.merge(df_iklim, df_topo, on='nama_lahan')
df_combined = pd.merge(df_combined, df_tanah, on='nama_lahan')

# Menambahkan kolom baru untuk total skor keseluruhan
df_combined['total_skor_keseluruhan'] = (
    df_combined['total_skor_iklim_MW'] + 
    df_combined['total_skor_topo_MW'] + 
    df_combined['total_skor_tanah_MW']
)

# Mengurutkan DataFrame berdasarkan 'total_skor_keseluruhan' secara descending
df_combined_sorted = df_combined.sort_values(by='total_skor_keseluruhan', ascending=False)

# Menambahkan kolom ranking
df_combined_sorted['ranking'] = range(1, len(df_combined_sorted) + 1)

# Menyusun ulang kolom sehingga 'ranking' berada setelah 'total_skor_keseluruhan'
cols = df_combined_sorted.columns.tolist()
col_pos = cols.index('total_skor_keseluruhan') + 1  # Dapatkan posisi setelah 'total_skor_keseluruhan'
cols.insert(col_pos, cols.pop(cols.index('ranking')))  # Pindahkan 'ranking' ke posisi yang diinginkan

# Menerapkan urutan kolom baru
df_combined_sorted = df_combined_sorted[cols]

# Menampilkan DataFrame yang telah disusun
df_combined_sorted

,nama_lahan,total_skor_iklim_MW,total_skor_topo_MW,total_skor_tanah_MW,total_skor_keseluruhan,ranking
11,Sanankulon,2.026938,0.569862,2.385528,4.982328,1
6,Kanigoro,2.026938,0.569862,2.351346,4.948146,2
15,Sutojayan,2.026938,0.569862,2.351346,4.948146,3
12,Selopuro,2.026938,0.569862,2.351346,4.948146,4
0,Bakung,2.026938,0.554274,2.194793,4.776005,5
1,Binangun,2.026938,0.554274,2.172624,4.753836,6
13,Selorejo,1.688864,0.569862,2.347475,4.606201,7
9,Panggungrejo,2.026938,0.324764,2.194793,4.546495,8
17,Udanawu,1.713900,0.385050,2.363438,4.462388,9
14,Srengat,1.713900,0.385050,2.363438,4.462388,10
5,Kademangan,1.713900,0.385050,2.339349,4.438299,11
7,Kesamben,1.374805,0.569862,2.356311,4.300978,12
18,Wates,1.688864,0.350743,2.202998,4.242606,13
10,Ponggok,1.175367,0.569862,2.391208,4.136438,14
19,Wlingi,1.175367,0.569862,2.326410,4.071639,15
4,Garum,1.175367,0.569862,2.304641,4.049870,16
16,Talun,1.175367,0.569862,2.304641,4.049870,17
20,Wonodadi,1.175367,0.385050,2.357026,3.917444,18
3,Gandusari,1.175367,0.350743,2.338823,3.864933,19
8,Nglegok,1.175367,0.350743,2.338823,3.864933,20
2,Doko,1.175367,0.350743,2.326410,3.852520,21
21,Wonotirto,1.175367,0.335155,2.148088,3.658610,22

# Ranking Varietas MT

In [21]:
# Mengimpor variabel dari masing-masing notebook
total_skor_tanah_MT = load_variable_from_notebook('pm_tanah.ipynb', 'total_skor_tanah_MT')
total_skor_topo_MT = load_variable_from_notebook('pm_topografi.ipynb', 'total_skor_topo_MT')
skor_total_iklim_MT = load_variable_from_notebook('pm_iklim.ipynb', 'skor_total_iklim_MT')  # Ganti nama variabel yang dimuat

# Membuat DataFrame dari setiap variabel yang telah diimpor
import pandas as pd

# Menggabungkan DataFrame berdasarkan 'nama_lahan'
df_tanah = total_skor_tanah_MT[['nama_lahan', 'total_skor_tanah_MT']]
df_topo = total_skor_topo_MT[['nama_lahan', 'total_skor_topo_MT']]
df_iklim = skor_total_iklim_MT[['nama_lahan', 'total_skor_iklim_MT']]  # Pastikan nama variabel sesuai

df_combined = pd.merge(df_iklim, df_topo, on='nama_lahan')
df_combined = pd.merge(df_combined, df_tanah, on='nama_lahan')

# Menambahkan kolom baru untuk total skor keseluruhan
df_combined['total_skor_keseluruhan'] = (
    df_combined['total_skor_iklim_MT'] + 
    df_combined['total_skor_topo_MT'] + 
    df_combined['total_skor_tanah_MT']
)

# Mengurutkan DataFrame berdasarkan 'total_skor_keseluruhan' secara descending
df_combined_sorted = df_combined.sort_values(by='total_skor_keseluruhan', ascending=False)

# Menambahkan kolom ranking
df_combined_sorted['ranking'] = range(1, len(df_combined_sorted) + 1)

# Menyusun ulang kolom sehingga 'ranking' berada setelah 'total_skor_keseluruhan'
cols = df_combined_sorted.columns.tolist()
col_pos = cols.index('total_skor_keseluruhan') + 1  # Dapatkan posisi setelah 'total_skor_keseluruhan'
cols.insert(col_pos, cols.pop(cols.index('ranking')))  # Pindahkan 'ranking' ke posisi yang diinginkan

# Menerapkan urutan kolom baru
df_combined_sorted = df_combined_sorted[cols]

# Menampilkan DataFrame yang telah disusun
df_combined_sorted

,nama_lahan,total_skor_iklim_MT,total_skor_topo_MT,total_skor_tanah_MT,total_skor_keseluruhan,ranking
11,Sanankulon,2.026938,0.466876,2.360703,4.854517,1
12,Selopuro,2.026938,0.455920,2.326521,4.809379,2
6,Kanigoro,2.026938,0.450990,2.326521,4.804449,3
15,Sutojayan,2.026938,0.432913,2.326521,4.786372,4
9,Panggungrejo,2.026938,0.505715,2.169968,4.702621,5
1,Binangun,2.026938,0.483858,2.147799,4.658595,6
0,Bakung,2.026938,0.438391,2.169968,4.635297,7
13,Selorejo,1.688864,0.511248,2.322650,4.522762,8
18,Wates,1.688864,0.569862,2.178173,4.436899,9
5,Kademangan,1.713900,0.300689,2.314524,4.329114,10
14,Srengat,1.713900,0.238788,2.338613,4.291301,11
17,Udanawu,1.713900,0.233310,2.338613,4.285823,12
7,Kesamben,1.374805,0.472354,2.331487,4.178646,13
2,Doko,1.175367,0.541924,2.338823,4.056114,14
3,Gandusari,1.175367,0.541376,2.313998,4.030741,15
19,Wlingi,1.175367,0.505222,2.338823,4.019412,16
8,Nglegok,1.175367,0.528777,2.313998,4.018142,17
10,Ponggok,1.175367,0.439486,2.366384,3.981237,18
4,Garum,1.175367,0.501935,2.279816,3.957118,19
16,Talun,1.175367,0.471806,2.279816,3.926989,20
21,Wonotirto,1.175367,0.562740,2.123263,3.861371,21
20,Wonodadi,1.175367,0.223450,2.332202,3.731019,22